<div class="container-fluid main">
  <div class="row">
    <div class="col-md-8">
      <div class="text_container text-left">
        
        <div class="main_left">
          <h1>Track your shows automatically</h1>
          <h6>With ShowTrackr you can track your favorite TV shows automatically, so you never loose track of your TV
            shows ever again. 🍿</h6>
          <div class="input-group mb-3  mt-5">
            <input type="text" class="form-control" placeholder="someone@email.com" aria-label="Recipient's username"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary " type="button" id="button-addon2">Start Tracking</button>
            </div>
          </div>
          <div class="companies">
            <h4>Compatible With</h4>
            <img src="../../../assets/images/netflix.svg" alt="" class="netflix">
            <img src="../../../assets/images/apple.svg" alt="" class="apple">
            <img src="../../../assets/images/android.svg" alt="" class="apple">
            <img src="../../../assets/images/windows.svg" alt="" class="apple">
            <img src="../../../assets/images/synology.svg" alt="" class="netflix">
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="image_container">
       
        <img src="../../../assets/images/phone.png" alt="" class="img-fluid ml-auto">
      </div>
    </div>
  </div>
</div>
