<div class="container details">
  <div class="row">
    <div class="col-md-6">
      <div class="image">
        <img src="../../../assets/images/phone2.png" alt="phone2" class="img fluid">
      </div>
    </div>
    <div class="col-md-6">
      <div class="main_text text-left mt-5">
        <h1>Easy-to-use interfaces on every platform</h1>
        <h6>Since most of our features work in a completely automated way, you will mainly use our apps to discover new
          TV shows recommended for you and discuss the most interesting episodes with like-minded people.</h6>
          <p class="dashboard"><i class="fa fa-columns"></i> Customized Dashboard</p>
          <h5><i class="fa fa-star"></i> Automatic Day & Night Modes</h5>
          <h4><i class="fa fa-comments"></i> Integrated Chat Platform</h4>
      </div>
     
    </div>
  </div>
</div>
