<div class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <a class="navbar-brand logo ml-2 " href="#" routerLink="/">Show<span class="primary">Trackr</span><i class="fa fa-video ml-2"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ml-auto nav_links mr-5">
            <li class="nav-item mr-3">
              <a class="nav-link" href="#" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="#" routerLink="/pricing">Pricing</a>
            </li>
            <div class="button text-center ">
              <a class="nav-link shadow-lg" href="#" routerLink="/api">API</a>
            </div>
      
          </ul>
        </div>
      </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
