<div class="container-fluid bg-light main_services">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="services text-center" id="services">
        <p>Features</p>
        <h1>Built and Customized</h1>
        <h6>ShowTrackr’s built-in machine learning and context-aware features guarantee that all the notifications and
          recommendations are always delivered to you in the perfect moment.</h6>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="main_card text-center">
        <i class="fa fa-play play shadow"></i>
        <h5>Automated tracking</h5>
        <p>Track your favorite shows automatically without switching between apps.</p>
        <a href="">Learn more ></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="main_card text-center">
        <i class="fa fa-cog setting shadow"></i>
        <h5>Machine learning</h5>
        <p>Get recommendations like never before, which are truly customized for your taste.</p>
        <a href="">Learn more ></a>
      </div>
    </div>
    <div class="col-md-4">
        <div class="main_card text-center">
          <i class="fa fa-bell bell shadow"></i>
          <h5>Smart notifications</h5>
          <p>Receive smart notifications exactly at the right moments when you need them.</p>
          <a href="">Learn more ></a>
        </div>
      </div>
  </div>
</div>
