<div class="container-fluid testimonials">
  <div class="row">
    <div class="col-md-8">
      <div class="main_text text-left">
        <p data-aos="fade-up" data-aos-duration="3000">Community</p>
        <h1 data-aos="fade-up" data-aos-duration="3000">We believe in the power of community</h1>
        <h6 data-aos="fade-up" data-aos-duration="3000">Our goal is to create a product and service that you’re satisfied with and use it every day. This is why
          we’re constantly working on our services to make it better every day and really listen to what our users has
          to say.</h6>
          <h5 data-aos="zoom-in">Read More Testimonials</h5>
      </div>
    </div>
    <div class="col-md-4">
      <div class="image" data-aos="fade-up" data-aos-duration="3000">
        <img src="../../../assets/images/phone3.png" alt="phone3" class="img-fluid">
      </div>
    </div>
  </div>
</div>
